# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment files
.env

# Vite build files
dist/

# OS files
.DS_Store

# VSCode
.vscode/

# Misc
*.log


